body {
    font-family: 'Courier New', Courier, monospace;
    background-color:sandybrown;
    color:black;
    text-align: center;
    font-size: 16px;
    cursor: src="kabo's cousin.jpg";
}

h1 {
    color:black;
    text-decoration:underline;
    background-color: white;
    font-size: 3em;
}

p, ul, ol, table {
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
    line-height: 1.5
}
ul, ol {
    padding-left: 180px;    
}
table{
    color: black;
    background-color:white;
    width:60%;
    text-align: center;
    box-shadow: -10px 10px 5px black;

}
img{
    border: 2px solid black;
    border-radius: 8px;
    width: 700px;
}
h1:hover {
    color: coral;
}

background-image: url(background.webp);